


.modo {
    float: left;
    width: 25%;
  }

.fastfoods {
  margin: 60px;
  /*border-left: 2px;
  border-right: 4px;*/
  border-top: 50px ;
  border-bottom: 50px;
  padding: 60px;
}

.drinks {
  margin: 60px;
  /*border-left: 2px;
  border-right: 4px;*/
  border-top: 50px ;
  border-bottom: 50px;
  padding: 60px;
  }

.background2 {
  width: 100%
}
